* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #ffffff;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


body {
  margin: 0;
  overflow: hidden; /* prevents double scrollbar */
}
